<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan</title>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
     <header>
        <h1>Perpustakaan</h1>
        <button id="logout-btn" onclick="logout()">Logout</button>
        <a id="update-user-btn" href="/user">Update User</a>
    </header>
    
    <h2>Tambah / Edit Buku</h2>
    <form id="form-buku">
        <input type="hidden" id="id">
        <input type="text" id="judul" placeholder="Judul" required><br>
        <input type="text" id="penulis" placeholder="Penulis" required><br>
        <input type="text" id="penerbit" placeholder="Penerbit" required><br>
        <input type="number" id="tahun_terbit" placeholder="Tahun Terbit" required><br>
        <input type="text" id="kategori" placeholder="Kategori" required><br>
        <button type="button" id="tambah-btn" onclick="tambahBuku()">Tambah</button>
        <button type="button" id="update-btn" onclick="updateBuku()" style="display: none;">Perbarui</button>
    </form>

    <h2>Daftar Buku</h2>
    <ul id="buku-list"></ul>
</body>
</html>